body {
    margin: 0;
    max-height: 600px;
    line-height: 1.5;
    font-family: sans-serif;
}

header {
    min-height: 60px;
    background-color: lawngreen;
}

main {
    min-height: 360px;
    background-color: darkcyan;
}

footer {
    min-height: 180px;
    background-color: blueviolet;
}
